@mixin nuevo ($fontweight, $aligncont, $bg){
    font-weight: $fontweight;
    align-content: $aligncont;
    background-color: $bg;
}

.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(9, auto);
    grid-gap:1rem;
    background-color: #fff9d6;
    grid-template-areas: "box1 box1 box2"  "box3 box3 box4" "box5 box5 box5";
    .box-1 {
        grid-area: box1;
        @include nuevo(normal, flex-start, none);
    }
    .box-2 {
        grid-area: box2;
        @include nuevo(normal, flex-start, none);
    }
    .box-3 {
        grid-area: box3;
        @include nuevo(normal, flex-start, none);
    }
    .box-4 {
        grid-area: box4;
        @include nuevo(normal, flex-start, none);
        }
    .box-5 {
        grid-area: box5;
        @include nuevo(normal, flex-start, #f38a28);
        }   
}